*{
    margin: 0;
    padding: 0;
}
body { 
    background-color: #f9f9f9; 
    font-family: arial sans-serif;
}

.wrapper { 
    background-color: #ffffff;
    margin: 0 auto;
    width: 1065px;  
}
/*----------- Header ------------*/   
.header {
    padding: 50px;
}

.logo {
    margin-bottom: 20px;
}

.top-menu {
    background-color: #4f4f4f;
    height: 40px;
    width: 965px;
}

.header ul {
    padding: 10px; 
}

.header li {
    display:inline;
    font-size: 16px;
    padding: 15px;
    width: 140px;
}

.top-menu li:hover {
    background-color: #3f3f3f;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 5px; 
}

.header a {
    color: #ffffff;
    text-decoration: none;
}
/*----------- Container ------------*/
.container {
    background-color: #ffffff;
}

.side-menu ul {
    list-style-type: none;
    width: 239px;
    padding-left: 50px;
}

.side-menu li {
    border: 1px solid #c8c8c8;
    padding: 15px;
}

.side-menu a {
    text-decoration: none;
    color: #656363;
}

.side-menu a:hover {
    color: #000000;
    padding-left: 25px; 
}

.img-product {
    border: 1px solid #c8c8c8;
    margin-left: 20px;
    padding: 0 55px;
    width: 485px;
}

.space {
    padding-left: 50px;
    width: 287px;
}

.text-product {
    padding: 20px 25px;
    width: 610px;
}
/*----------- Footer ------------*/
.footer {
    padding: 50px;
}

.bottom-menu {
    background-color: #e1e1e7;
    height: 40px;
    width: 965px;
}

.footer ul {
    margin: 0;
    padding: 4px; 
}

.footer li {
    display:inline;
    text-align: center;
    font-size: 16px;
    margin: center;
    padding: 15px;
    width: 140px;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.copyright {
    padding-left: 400px;
    display:inline;
    color: #000000;
}  